
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  

  body {
    font-family: Arial, sans-serif;
    background-color: black;
  }
  
  
  header {
    background-color: black;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    
    
  }
  

  .hero {
    background-image: url("./images/hero7.avif");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero-content {
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .car-listings h2{
    color: white;
    text-align: center;
    padding-bottom: 10px
    
  }

  .car-listings {
    
    padding: 20px;
  }
  
  .car-card {
   

    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .car-card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .car-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
   
  }
  
  .car-card p {
    margin-bottom: 10px;
    
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
 
.contact-section {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .contact-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  .img1
  {float: right;
    
  }

  .contact.form {
    color: white;
  }

  

